@import "quasar.variables.styl"
@import "levelapp.colors.styl"

.ql-snow {
  font-family: 'Istok Web', sans-serif;
}

.ql-snow.ql-toolbar {
  font-family: 'Istok Web', sans-serif;
}

.ql-toolbar {
  background-color: rgba($lessons, 0.2);
}
