@import "levelapp.variables.styl"
@import "quasar.variables.styl"
@import "app.styl"

.lessons-card {
  @extend .base-card
  height $lessons-card-height
}

.empty-lessons-card {
  @extend .lessons-card

  color $lessons

  border-width 3px
  border-style dashed
  border-color $lessons

  transition all 0.2s ease-in-out

  &:hover {
    background-color $lessons
    border-color white
    color white
  }
}
