@import "levelapp.variables.styl"
@import "quasar.variables.styl"
@import "app.styl"

.courses-card {
  @extend .base-card
  height $courses-card-height
}

.empty-courses-card {
  @extend .courses-card

  color $courses

  border-width 3px
  border-style dashed
  border-color $courses

  transition all 0.2s ease-in-out

  &:hover {
    background-color $courses
    border-color white
    color white
  }
}
