// General
.text-favourite
  color $favourite

.bg-favourite
  background $favourite

// Courses

.text-courses
  color $courses

.bg-courses
  background $courses !important

.text-lessons
  color $lessons

.bg-lessons
  background $lessons !important
