// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #1FB24B
$secondary = #2d3a3a
$accent    = #3a5683

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

// Module related
$courses = #0B3E8C

$courses-item-light = #A1C6FF
$courses-item-dark = #72a4ff

$lessons = #167482

$lessons-item-light = #b2d4d8
$lessons-item-dark = #98D0D8

:root
  --q-color-courses $courses
  --q-color-lessons $lessons
